{% extends 'layout.html' %}

{% block title %}facturas de ventas{% endblock %}

{% block content %}
<p>Aquí se mostrará la tabla que contiene todas las ventas realizadas.</p>
<p>Los campos serán:</p>
<p>item, número de factura, cliente y total, fecha y hora</p>
<p>Las opciones serán:</p>
<p>ver detalle (modal) el modal tendrá: item, numero de factura, descripción, unidad, precio unitario por cada producto (si es servicio, solo la descripción y el precio) y la suma de los totales y datos del cliente y fechas</p>
{% endblock %}
