{% extends 'layout.html' %}

{% block title %}Inicio - Fiallos Lubricentro{% endblock %}

{% block content %}
<h1>Bienvenido a Fiallos Lubricentro</h1>
<div class="sections">
    <div class="sectionIndex">
        <h2>Compras</h2>
        <p>Administrar y controlar todas las compras de suministros y repuestos.</p>
        <a href="{% url 'compras' %}" class="btn">Ir a Compras</a>
    </div>
    <div class="sectionIndex">
        <h2>Inventario</h2>
        <p>Gestionar y dar seguimiento a las existencias de los productos.</p>
        <a href="{% url 'inventario' %}" class="btn">Ir a Inventario</a>
    </div>
    <div class="sectionIndex">
        <h2>Ventas</h2>
        <p>Realizar y controlar las ventas tanto de productos como de servicios.</p>
        <a href="{% url 'ventas' %}" class="btn">Ir a Ventas</a>
    </div>
    <div class="sectionIndex">
        <h2>Servicios</h2>
        <p>Coordinar y supervisar la prestación de todos los servicios ofrecidos.</p>
        <a href="{% url 'servicios' %}" class="btn">Ir a Servicios</a>
    </div>
</div>
{% endblock %}
