{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'images/logo.png' %}" alt="Logo de Mi Proyecto Django" class="logo">
            <button class="menu-toggle" aria-label="Menú">
                ☰
            </button>
            <ul class="nav-menu">
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'compras' %}">Compras</a></li>
                <li><a href="{% url 'inventario' %}">Inventario</a></li>
                <li><a href="{% url 'ventas' %}">Ventas</a></li>
                <li><a href="{% url 'servicios' %}">Servicios</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2025 Fiallos. Todos los derechos reservados.</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.querySelector(".menu-toggle");
        const navMenu = document.querySelector(".nav-menu");
    
        menuToggle.addEventListener("click", function () {
            navMenu.classList.toggle("show");
        });
    });
    
</script>
</html>
